h1 {
    color: aquamarine;
    font-family: sans-serif; 
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: rgb(41, 92, 139);
    padding: 10px;
    border-width: 10px;
    border-color: yellowgreen;
    border-style: groove;
    border-radius: 100px;
}

img {
    display: block; /* Convierte la imagen en un elemento de bloque */
    margin: 0 auto; /* Aplica márgenes automáticos para centrar */
}


h2 {
    color: aquamarine;
    font-family: sans-serif; 
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: rgb(41, 92, 139);
    padding: 10px;
    border-width: 5px;
    border-color:  yellowgreen;
    border-style: groove;
    border-radius: 100px;
}

body{
    background:black ;
}

p{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 24px; 
    text-align: center;
    font-weight: bold;
    margin:10px;
    
}
ul{
    color:yellowgreen;
    font-family: sans-serif;
    font-size:20px;
    text-align: center;
    margin-bottom: 100px;
    list-style: none;
    padding: 0;

}

li{
    margin: 10px;
    margin-top: 15px;
    text-align: center;
}

a{
    display: block;
    margin-top: 5px;
    color:aquamarine;
    text-decoration: none;
    text-align: center;
}


h3{
    color: aquamarine;
    font-family: sans-serif; 
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: rgb(41, 92, 139);
    padding: 10px;
    border-width: 5px;
    border-color:  yellowgreen;
    border-style: groove;
    border-radius: 100px;

}
h4{
    color: aquamarine;
    font-family: sans-serif; 
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: rgb(41, 92, 139);
    padding: 10px;
    border-width: 5px;
    border-color:  yellowgreen;
    border-style: groove;
    border-radius: 100px;

}

input{
    border-width: auto;
    border-color:  yellowgreen;
    border-style: auto;
    border-radius: 100px;
    padding:2px;
}
